@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0e1538;
}

.box{
    position: relative;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.box::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(#93ff2d, #e41cf8);
    animation: animate 3s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    inset: 4px;
    border-radius: 16px;
    background: #0e1538;
}

.box h2{
    position: relative;
    z-index: 4;
    color: #fff;
    font-size: 10em;
}